/* From Uiverse.io by xXJollyHAKERXx */ 
.spinner-container{
  transform: perspective(500px) rotateX(60deg);
  transform-origin: center;

  display: flex;
  justify-content: center;
  align-items: normal;
  text-align: normal;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 80vh;
  height: 80vh;
  animation: spinning82341 5s linear infinite;
  text-align: center;
  border-radius: 40vw;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: #242424;
  
  width: 80h;
  height: 80vh;
  border-radius: 40vw;
  filter: blur(12px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}